h1 {
    color: white;
    text-align: center;
    font-weight: 650;
}

.navbar {
    text-align: center;
    display: block;
}

.list-group {
    margin-top:30px;
}

.navbar navbar-dark bg-dark {
    text-align: center;
}