

h1 {
    color: white;
    text-align: center;
    font-weight: 650;
}

.navbar {
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

.list-group {
    margin-top: 30px;
}

.navbar navbar-dark bg-dark {
    text-align: center;
}


.card {
    width: 10rem;
}

.jumbotron {
    background-color: orange;
    color: white;
    width: 900px;
}

.container-fluid {
    width: auto;
}

div#card1 .card {
    margin: 0 50px;
}

#card1 {
    right: 15px;
}

#card2 {
    margin: 0 0 0 18%;
}

#card3 {
    margin: 0 0 0 43%;
}

#card4 {
    margin: 0 0 0 69%;
}

#card5 {
    margin: 0 0 0 95%;
}